/* all rights copyrights */
@import url('https://fonts.googleapis.com/css?family=Cabin&display=swap');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	user-select: none;
	color: #fff;
	font-family: 'Cabin', sans-serif;
}
html{scroll-behavior: smooth;}

.preloader{
	width:100%;
	height:100vh;
	display: grid;
	place-items: center;
	background: #000;
}
.loader{
	margin:auto;
	width:50px;
	height:50px;
	border-top:3px solid deepskyblue;
	/* background:black; */
	border-radius: 50%;
	animation: rotate .6s linear infinite;
}
@keyframes rotate{
	from{
		transform:rotate(0deg);
	}
	to{
		transform:rotate(360deg);
	}
}
.container{
	width: 100%;
	height: 100vh;
	display: grid;
	/* -ms-grid-template-columns:repeat(1,20%)1fr; */
	grid-template-columns:repeat(1,20%)1fr;
}
main{
	display: flex;
	justify-content: center;
}
.icons{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}
.div1{
	background: #3b38f7;
}
.div2{
	background:#fff; /* fallback for old browsers */
	background: linear-gradient(to right, #f0f2f0, #000c40);
    background: -webkit-linear-gradient(to right, #eef2f3, #8e9eab);  /* Chrome 10-25, Safari 5.1-6 */
    /* background: linear-gradient(to right, #eef2f3, #8e9eab); W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
header{
	padding-top: 5px;
	text-align: center;
}
header img{
	width: 60%;
	border-radius: 100%;
	box-shadow: 0 0 5px  rgba(0, 84, 186, 0.77),
			            0 0 25px #03e9f4,
						0 0 50px #03e9f4,
						0 0 200px #03e9f4;

}
header h1{
	font-size: 1.4rem;
	text-indent:15px;
	
}
.navbar{text-align: center;}
ul{
	width: auto;
	height: auto;
	margin-top: 3px;
	line-height: 2.3rem;
	text-align: left;
	list-style-position: inside;
	list-style-type: none;
	/* list-style-type: '✌'; */
}
ul li{
	padding: 0 8px;
}
ul li a{
	text-transform: capitalize;
	text-decoration: none;
}
a:hover{
	color: #000;
	transition: .9s;
}
.divcenter{
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	height: 90vh;
	text-align: center;	
}
article{padding:15px;}
article h1{
	color: #333;
	transition: all .5s ease-out;
}
article h1 span:nth-child(1){
	color: red;
	text-transform: uppercase;
}
article h1 span:nth-child(2){
	color: red;
}
.footer{ 
	display: flex;
	justify-content: center;
}
footer p{
	color: #000;
 	padding-top: 40px;
}
.hide{
	font-size: 50px;
	display: inline-block;
    padding-left: 47.5%;
	padding-top: 15px;
}
label i{
	visibility: hidden;
}
@media(max-width: 768px){
.div1{
	grid-column: 1/ span 2;
}
.div2{
	grid-column: 1/ span 3;
}
.divcenter{
	height: 70vh;
}
label i{
	visibility: visible;
}

ul{
	display: none;
}
.icons{
	display: none;
}

}